* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: url(../../imgs/games/bouncingBalls.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}

nav .menu {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo img {
    width: 300px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background-image: linear-gradient(to right, #3f8cd6, #38deec);
    color: #000;
}

.MobNavBtns button {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 2px solid #3bbee3;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    color: #38deec;
    background: transparent;
}

.NavBtns button:hover {
    background-image: linear-gradient(to right, #3f8cd6, #38deec);
    color: #000;
}

.wrapper {
    height: 100%;
}

.container {
    width: 1200px;
    height: 85%;
    margin: 0 auto;
    padding: 0 20px;
}

.InnerDiv {
    height: 80%;
    display: flex;
    align-items: center;
}

.center {
    width: 54%;
}

.center .title {
    color: #fff;
    font-size: 70px;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.center .sub_des {
    color: #fff;
    font-size: 18px;
    font-weight: 20;
    margin: 11px 0 25px 0;
}

.center .btns button {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #3f8cd6, #38deec);
    color: #000;
}

.center .btns button:hover {
    border: 2px solid #3bbee3;
    color: #38deec;
    background: transparent;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: normal;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.MobNavBtns button {
    display: none;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    color: #ffffff;
    background-image: linear-gradient(to right, #3f8cd6, #38deec);
    border: none;
}

@media (min-width: 12000px) {
    .menu ul {
        display: flex;
        justify-content: center;
    }
}

/* Responsive Media Query */
@media (max-width: 1200px) {
    body {
        background-image: url(../../imgs/games/bouncingBalls.png);
    }
    .menu ul li {
        margin-left: 7px;
        text-align: left;
        padding-left: 60px;
    }

    li .MovNavBtns {
        padding: 0 15px;
    }

    .MobNavBtns button {
        display: block;
    }

    .container {
        width: 100%;
    }

    .NavBtns {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    .center .title {
        font-size: 38px;
    }

    .center {
        width: 100%;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: -50px;
    }
}