@import url('https://fonts.googleapis.com/css?family=Press Start 2P');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;
}

#error {
  padding: 3rem;
  background: black url('404.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: top;
  align-items: center;
  color: #511e3a;
  text-shadow: 0px 0px 2cap;
  font-size: 3rem;
  flex-direction: column;
}

#error .txt {
  font-size: 1.8rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}