@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* || UTILITY CLASSES */
.nowrap {
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
}

/* || GENERAL STYLES */
body {
    font: 1.5rem "Nunito", sans-serif;
    min-height: 100vh;
    background-color: #475569;
    background-image: url(../imgs/games/bouncingBalls.png), radial-gradient(whitesmoke, #475569);
    display: flex;
    flex-direction: column;
}

header,
footer {
    position: sticky;
    color: whitesmoke;
    text-align: center;
}

header {
    top: 0;
}

header .log {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-right: 5em;
    padding-left: 5em;
    align-items: center;
}

.log img {
    width: 200px;
}

nav {
    width: 100%;
    padding: 0.5rem;
    color: inherit;
    font-weight: bolder;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

nav a:link,
nav a:visited {
    color: white;
}

nav a:hover,
nav a:focus {
    color: hsla(0, 0%, 20%, 0.6);
}

nav a:active {
    color: red;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

footer {
    bottom: 0;
}


/* Profile Card */
.card {
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color: rgb(92, 73, 92);
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.card img {
    border: 5px double #333;
    border-radius: 50%;
    max-height: 500px;
    object-fit: cover;
}

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

/* || MEDIA QUERIES */
/* || MOBILE DEVICE PORTRAIT */
@media screen and (min-width: 576px) {
    main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }
    .card {
        width: min(100%, 400px);
    }
    .card:last-child {
        order: -1;
    }
    .card img {
        max-height: 500px;
        object-fit: cover;
    }
}

/* || MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    h1 {
        font-size: 1.5rem;
    }
    main {
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .card {
        width: min(calc(33% - 0.25rem), 200px);
    }
    .card figcaption,
    .card p {
        font-size: 1.25rem;
    }
    .card img {
        max-height: 500px;
        object-fit: cover;
    }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    .card {
        width: min(100%, 325px);
    }
    .card figure {
        flex-flow: column-reverse;
    }
    .card p {
        margin-top: 1rem;
    }
    .card img {
        max-height: 500px;
        object-fit: cover;
    }
}


/* || LARGE */
@media screen and (min-width: 992px) {
    .card {
        width: min(100%, 400px);
    }

    .card:nth-child(2) {
        order: -1;
    }
    .card img {
        max-height: 500px;
        object-fit: cover;
    }
}

/* || EXTRA LARGE */
@media screen and (min-width: 1200px) {
    .card {
        width: min(calc(33% - 1rem), 500px);
    }
    .card img {
        max-height: 500px;
        object-fit: cover;
    }
}